.loading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    margin: 10vh auto;
    color: #fff;
    progress {
        width: 60vw;
        margin-bottom: 20px;
    }
}
